.form {
background-color:blue;
position: absolute;
width: 200px;
height: 50px;
left: 50%;
top: 50%;
padding: 10px;
transform: translate(-50%,-50%);
border-radius: 25px;
border: 5px solid;
box-sizing: border-box;
transition: 1.5s;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 50px;
    line-height: 80px;
    outline: 0;
    display: none;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form:hover {
    width: 500px;
    cursor: pointer;
}
form:hover input {
    display: block;
}

.dropbtn {
    background-color:white;
    color: black;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 10;
    font-weight: bold;
    border: none;

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-weight: bold;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.pos-rel {
    position: relative; 
}